<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="card custom-card">
                <div class="card-header no-border">Información básica</div>
                <div class="card-body">
                    <form class="mt-1">
                        <div class="form-group">
                            <label for="primerApellido">Primer apellido</label>
                            <input type="text" class="form-control input-transparent" id="primerApellido" value="Pérez" readonly>
                        </div>
                        <div class="form-group mt-4">
                            <label for="primerNombre">Primer nombre</label>
                            <input type="text" class="form-control input-transparent" id="primerNombre" value="Jhenny" readonly>
                        </div>
                        <div class="text-center mb-2">
                            <button routerLink="/" class="btn btn-secondary btn-lg mt-4">VOLVER</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
